# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\quera_env\django_projects\todowoo-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
